extends ../layout/index_layout
block content
    div(id='picture-pane',owner-id=params.ownerId,album-id=params.albumId,data-wow-delay='0.2s').container-fluid.wow.bounceInDown
        p
            a(href='/users/'+params.ownerId+'/picture') 返回
        br
    div(data-wow-delay='0.4s').text-center.wow.bounceInUp
        ul(id='ul-pagination').pagination

    div(id='show-picture',tabindex='-1',role='dialog',aria-labelledby='showPicLabel').modal.fade
        div.container-fluid
            img(id='img-show').col-md-10.col-md-offset-1
            div.col-md-12
                a(data-dismiss='modal').btn.btn-default.col-md-offset-1 返回
                a(id='last-picture').btn.btn-default.col-md-offset-1 上一张
                a(id='next-picture').btn.btn-default.col-md-offset-1 下一张




