extends ../layout/index_layout
block content
    div(id='content-pane')
        div(id='info-nav')
            div.li-line
            ul
                li
                    a(href='/users/'+params.ownerId+'/index') 首页
                li
                    a(href='/users/'+params.ownerId+'/blog') 博文
                li
                    a 相册
                li
                    a 视频
                li
                    a 关于我
        div(id='picture-pane',owner-id=params.ownerId).container-fluid
        ul(id='ul-pagination').pagination
    div(id='config-album',tabindex='-1',role='dialog',aria-labelledby='configLabel').modal.fade
        div(role='document').modal-dialog
            div.modal-content
                div.modal-header
                    button(type='button',data-dismiss='modal',aria-label='Close').close
                        span(aria-hidden='true') &times;
                    h4(id='configLabel').modal-title 设置相册
                div.modal-body
                    div.container-fluid
                        form.form-horizontal
                            div.form-group
                                label.col-md-3.control-label 相册名称:
                                div.col-md-7
                                    input(id='input-album-name',type='text').form-control
                                    input(id='input-album-id',type='text').hidden
                            div.form-group
                                div.col-md-offset-3
                                    label.radio-inline
                                        input(type='radio',name='album-type',id='type-public',value='public')
                                        span 公开
                                    label.radio-inline
                                        input(type='radio',name='album-type',id='type-private',value='private')
                                        span 私人
                div.modal-footer
                    button(type='button',data-dismiss='modal').btn.btn-default 取消
                    button(id='commit',type='button',data-dismiss='modal').btn.btn-primary 确定