extends ../layout/index_layout
block content
    div(id='page-header',data-wow-delay='0.2s').wow.bounceInUp
        h1 #{params.owner.name}的相册
        p
            -if(params.owner.personUrl)
                a(href='http://localhost:3000/'+params.owner.personUrl)  http://localhost:3000/#{params.owner.personUrl}
    div(id='info-nav',data-wow-delay='0.3s').row.wow.bounceInDown
        ul.col-md-12.text-center
            li.col-md-4
                a(href='/users/'+params.ownerId+'/index') 首页
            li.col-md-4
                a(href='/users/'+params.ownerId+'/blog') 博文
            li.col-md-4
                a(href='/users/'+params.ownerId+'/picture') 相册
    div(id='picture-pane',owner-id=params.ownerId,data-wow-delay='0.4s').container-fluid.wow.bounceInUp
    div(data-wow-delay='0.5s').text-center.wow.bounceInUp
        ul(id='ul-pagination').pagination

    div(id='config-album',tabindex='-1',role='dialog',aria-labelledby='configLabel').modal.fade
        div(role='document').modal-dialog
            div.modal-content
                div.modal-header
                    button(type='button',data-dismiss='modal',aria-label='Close').close
                        span(aria-hidden='true') &times;
                    h4(id='configLabel').modal-title 设置相册
                div.modal-body
                    div.container-fluid
                        form.form-horizontal
                            div.form-group
                                label.col-md-3.control-label 相册名称:
                                div.col-md-7
                                    input(id='input-album-name',type='text').form-control
                                    input(id='input-album-id',type='text').hidden
                            div.form-group
                                div.col-md-offset-3
                                    label.radio-inline
                                        input(type='radio',name='album-type',id='type-public',value='public')
                                        span 公开
                                    label.radio-inline
                                        input(type='radio',name='album-type',id='type-private',value='private')
                                        span 私人
                div.modal-footer
                    button(type='button',data-dismiss='modal').btn.btn-default 取消
                    button(id='commit',type='button',data-dismiss='modal').btn.btn-primary 确定