ul{
    list-style: none;
}

a{
    cursor: pointer;
}

nav{
    z-index: 500;
}
#content-pane{
    width: 80%;
    margin: 0 auto 0 auto;
}

#picture-pane{
    border: 1px solid #000000;
    padding: 20px;
    background: #ffffff;
}

#picture-pane img{
    padding: 0;
    height: 150px;
    margin-top: 10px;
    border: 2px solid #999;
}

#show-picture{
    width: 1000px;
    margin: 20px auto 0 auto;
}

#img-show{
    padding: 0;
    box-shadow: 0 0 20px #000000;
    margin-bottom: 10px;
}

