body{
    background: url("../images/cloud.jpg");
}

ul{
    list-style: none;
    padding:0;
}

a{
    cursor: pointer;
    color: red;
}

#content-pane{
    width: 1000px;
    margin: 0 auto 0 auto;
}

#blog-div{
    box-shadow: 0 0 4px #999;
    background: #FFFFFF;
    padding: 20px 20px 20px 20px;
}

.li-line{
    background: #000000;
    height: 2px;
}
