ul{
    list-style: none;
    padding:0;
}

a{
    cursor: pointer;
    color: red;
}

nav{
    z-index: 500;
}
#content-pane{
    width: 80%;
    margin: 0 auto;
}

#blog-div{
    border:1px solid #000000;
    padding: 20px 20px 20px 20px;
    overflow: hidden;
}


.li-line{
    background: #000000;
    height: 2px;
}

.comment-content{
    padding:8px 20px 8px 20px;
}

#div-comment{
    margin-top: 20px;
    box-shadow: 0 0 4px #999;
    background: #FFFFFF;
    padding: 20px 20px 20px 20px;
}

.blog-comment{
    padding: 8px 20px 8px 20px;
    margin-top: 20px;
    box-shadow: 0 0 4px #999;
}

