body{
    background: url(../images/cloud.jpg);
}

a{
    cursor: pointer;
    text-decoration: none;
}
#content-pane{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

#person-pane{
    float: left;
    margin-top: 20px;
    width: 200px;
    box-shadow: 0 0 4px #000;
    padding: 10px;
}

#person-img{
    width: 180px;
    border-radius: 180px;
    border: 2px solid #fff;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#person-info{
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

#person-info li{
    margin-bottom: 8px;
    width: 180px
}

.li-line{
    width: 100%;
    height: 2px;
    background: #000;
}

.title{
    font-weight: 800;
    width: 50px;
}

#info-pane{
    float: left;
    width: 800px;
    padding-left: 20px;
    margin-top: 20px;
}

#info-nav ul{
    height: 30px;
}

#info-nav ul li{
    width: 80px;
    height:20px;
    margin-top: 5px;
    float: left;
    text-align: center;
    border-right: 2px solid #000;
}

#blog-pane{
    box-shadow: 0 0 4px #000000;
    padding:0 20px 20px 20px;
    background: #ffffff;
}

.blog-item{
    border-left: 2px solid #000;
}

.blog-content{
    height: 180px;
    overflow: hidden;
}

#img-pane{
    box-shadow: 0 0 4px #000000;
    background: #efefef;
    padding: 20px 20px 20px 20px;
}

.album{
    height: 80px;
}

#img-show{
    margin: 20px auto 20px auto;
    padding: 0;
    box-shadow: 0 0 4px #000000;
}