body{
    background: url(../images/cloud.jpg);
}

a{
    cursor: pointer;
    text-decoration: none;
}
#content-pane{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

#person-pane{
    float: left;
    margin-top: 20px;
    width: 200px;
}

#person-img{
    width: 200px;
    height: 200px;
    border: 2px solid #fff;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#person-info{
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

#person-info li{
    margin-bottom: 8px;
    width: 200px
}

.li-line{
    width: 100%;
    height: 2px;
    background: #000;
}

.title{
    font-weight: 800;
    width: 50px;
}

#info-pane{
    float: left;
    width: 800px;
    padding-left: 20px;
    margin-top: 20px;
}

#info-nav ul{
    height: 30px;
}

#info-nav ul li{
    width: 80px;
    height:20px;
    margin-top: 5px;
    float: left;
    text-align: center;
    border-right: 2px solid #000;
}

#blog-pane{
    border: 2px solid #000;
    padding:0 20px 20px 20px;
    background: #efefef;
}

.blog-item{
    border-left: 2px solid #000;
}

.blog-content{
    height: 180px;
    overflow: hidden;
}

#img-pane{
    border: 2px solid #000;
    background: #efefef;
}

.photo-album{
    background:url("../images/photoborder_m.png");
    background-size: 100%,100%;
    padding: 0;
}

.album-div{
    margin-bottom: 20px;
    margin-top:20px;
}

.img-album{
    border-radius: 8px;
}

#video-pane{
    border: 2px solid #000;
    background: #efefef;
    margin: 0 0 60px 0;
}

.video-div{
    margin: 20px 0 20px 0;
    padding: 0;
    text-align: center;
}

.video-img{
    height: 140px;
}