/*简单reset*/
* {
    margin: 0;
    padding: 0;
}
/*必须，关系到单个page能否全屏显示*/
html,
body {
    height: 100%;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

nav{
    z-index: 500;
}

#content-pane{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#page-header{
    padding: 40px 0 40px 0;
}

#page-header h1{
    background: #555;
    padding: 8px 12px;
    font-weight: 700;
    color: white;
}

#page-header a{
    color:#000000;
}


#person-pane{
    float: left;
    width: 25%;
    border:2px solid #000;
    padding: 10px;
}

#person-img{
    width: 100%;
    border-radius: 100%;
    border: 2px solid #000;
}

#person-info{
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

#person-info li{
    margin-bottom: 8px;
    width: 100%;
}

.li-line{
    width: 100%;
    height: 2px;
    background: #000;
}

#person-info p.title{
    font-weight: 800;
}

#person-info p{
    word-break: break-all;
}

#info-pane{
    float: left;
    width: 75%;
    padding: 0 25px;
}

#info-nav ul{
    list-style: none;
}

#info-nav ul li{
    background: #999;
    padding: 8px 0;
    border-right: 2px solid #fff;
    cursor: pointer;
    transition: all 0.8s;
}

#info-nav ul li:hover{
    background: #555;
}

#info-nav ul li a{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    display: block;
}

#info-nav ul li a:hover{
    text-decoration: none;
}

#info-pane h3{
    font-weight: 700;
    margin: 20px 0 10px 0;

}

#blog-pane{
    border: 2px solid #000;
}

#blog-pane a{
    color: white;
    background: #555;
    padding: 2px 8px;
    display: inline-block;
    transition: all 0.8s;
}
#blog-pane a:hover{
    background: #999;
    text-decoration: none;
}

#blog-pane h3{
    font-weight: 700;
    background: #555;
    padding: 8px 12px;
    color: #fff;
    margin: 0;
}

#blog-pane h3 span{
    display: block;
}


#blog-pane h3 span.text-right{
    font-size: 8px;
}

.blog-item{
    border:1px solid #555;
    padding: 0;
    margin: 20px 0;
}
.blog-content{
    height: 180px;
    overflow: hidden;
    padding: 8px;
}


#img-pane{
    border:2px solid #000;
    padding: 20px 20px 20px 20px;
}

#img-pane img{
   width:  100%;
}

.album{
    height: 80px;
}

#img-show{
    margin: 20px auto 20px auto;
    padding: 0;
    box-shadow: 0 0 4px #000000;
}