@charset "utf-8";
#content-pane{
    width: 80%;
    margin: 0 auto;
}

nav{
    z-index: 500;
}

#old-img{
    width: 25%;
    border-radius: 100%;
    border:2px solid #000;
    float: left;
}

#person-info{
    border: 1px solid #000000;
    background: #ffffff;
    padding: 20px;
}


#person-info ul{
    width: 75%;
    float: left;
    list-style: none;
}

#person-img{
    width: 100%;
    border: 1px solid #000000;
    padding: 20px 20px 20px 20px;
}


.imageBox {
    float: left;
    height: 400px;
    width: 400px;
    border: 1px solid #aaa;
    overflow: hidden;
    cursor: move;
    box-shadow: 4px 4px 12px #B0B0B0;
}

.imageBox .thumbBox {
    width: 200px;
    height: 200px;
    border-radius:200px;
    margin-top: 100px;
    margin-left: 100px;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}

.cropped {
    float: left;
    width: 200px;
    border: 1px #ddd solid;
    height: 500px;
    padding: 4px;
    box-shadow: 0px 0px 12px #ddd;
    text-align: center;
    margin-left: 40px;
}

.action {
    width: 400px;
    height: 30px;
    margin-top: 40px;
}


.Btnsty_peyton{ float: right;
    width: 66px;
    display: inline-block;
    margin-bottom: 10px;
    height: 57px;
    line-height: 57px;
    font-size: 20px;
    color: #FFFFFF;
    margin:0px 2px;
    background-color: #f38e81;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px #B0B0B0;
    border: 0px #fff solid;
}

/*选择文件上传*/
.new-contentarea {
    width: 165px;
    overflow:hidden;
    margin: 0 auto;
    position:relative;float:left;
}
.new-contentarea label {
    width:100%;
    height:100%;
    display:block;
}
.new-contentarea input[type=file] {
    width:188px;
    height:60px;
    background:#333;
    margin: 0 auto;
    position:absolute;
    right:50%;
    margin-right:-94px;
    top:0;
    right/*\**/:0px\9;
    margin-right/*\**/:0px\9;
    width/*\**/:10px\9;
    opacity:0;
    filter:alpha(opacity=0);
    z-index:2;
}
a.upload-img{
    width:165px;
    display: inline-block;
    margin-bottom: 10px;
    height:57px;
    line-height: 57px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #f38e81;
    border-radius: 3px;
    text-decoration:none;
    cursor:pointer;
    border: 0px #fff solid;
    box-shadow: 0px 0px 5px #B0B0B0;
}
a.upload-img:hover{
    background-color: #ec7e70;
}

.tc{text-align:center;}

#div-upload-btn{
    width: 800px;
    float: left;
}

#div-upload-btn button{
    margin-top: -55px;
    width: 100px;
}

#div-base{
    border: 1px solid #000000;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
}

#div-experience{
    border: 1px solid #000000;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
}

#div-info{
    border: 1px solid #000000;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
}

#div-url{
    border: 1px solid #000000;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
}