#picture-pane{
    border: 1px solid #000000;
    padding: 20px;
    background: #ffffff;
}

.picture-item{
    border: 2px solid #999;
    padding: 10px 10px 0 10px;
    background: #efefef;
    margin-bottom: 20px;
}

#picture-pane img{
    padding: 0;
    height: 150px;
    margin-bottom: 10px;
}

#picture-pane a{
    color: #999;
    cursor: pointer;
}

#picture-pane a:hover{
    color: #000000;
}
/**
body{
    background: url("../images/cloud.jpg");
    font-family: Arial;
}

ul{
    list-style: none;
}

a{
    cursor: pointer;
}

#content-pane{
    width: 1000px;
    margin: 0 auto 0 auto;
}



.picture-item{
    box-shadow: 0 0 4px #000000;
    padding: 10px 10px 0 10px;
    background: #efefef;
    margin-bottom: 20px;
}

#picture-pane img{
    padding: 0;
    height: 150px;
    margin-bottom: 10px;
}

.li-line{
    height: 2px;
    background: #000000;
}
#info-nav ul{
    height: 30px;
}

#info-nav ul li{
    width: 80px;
    height:20px;
    margin-top: 5px;
    float: left;
    text-align: center;
    border-right: 2px solid #000;
}