extends ../layout/index_layout
block content
    div(id='blog-div',blogId=params.blog._id,data-wow-delay='0.1s').wow.bounceInUp
        a(href='/users/'+params.ownerId+'/blog')
            p 返回
        h3.text-info #{params.blog.title}
        div.li-line
        -var date = new Date(params.blog.createDate);
        p 创建时间 :&nbsp;
            span.text-warning #{date.toLocaleString()}&nbsp;
            -if(params.isMe)
                a(href='/users/'+params.user._id+'/blog/modify/'+params.blog._id)  [编辑]
        div!=params.blog.content

    div(id='div-comment',data-wow-delay='0.2s').wow.bounceInUp
        -if(params.user)
            p 留言
            textarea(id='text-comment').form-control
            br
            btn(id='submit-comment').btn.btn-primary 提交
        div(id='comment-pane')
        ul(id='ul-pagination').pagination
    br
