extends ../layout/index_layout
block content
    div(id='content-pane')
        div(id='info-nav')
            div.li-line
            ul
                li
                    a(href='/users/'+params.ownerId+'/index') 首页
                li
                    a(href='/users/'+params.ownerId+'/blog') 博文
                li
                    a(href='/users/'+params.ownerId+'/picture') 相册
        div(id='catalog')
            ul
                li
                    a(coll='all').a-collection 全部博文
        div(id='blog-list',owner-id=params.ownerId)
            label(id="coll-title").text-info 全部博文
            table.table.table-condensed
                tr.info
                    td(style='width:500px') 标题
                    td 创建时间
                    -if(params.isMe)
                        td
            ul(id='ul-pagination').pagination





