doctype html
html
   head
      title= title
      link(rel='stylesheet',href='/bootstrap/css/bootstrap.min.css')
      -for(var i=0;i<params.asset.css.length;i++)
        link(rel='stylesheet', href=params.asset.css[i])
      script(type='text/javascript',src='/javascripts/jquery-2.2.0.min.js')
      script(type='text/javascript',src='/bootstrap/js/bootstrap.min.js')
      -for(var i=0;i<params.asset.js.length;i++)
        script(type='text/javascript',src=params.asset.js[i])
   body
      div(id='content-pane')
         nav.navbar.navbar-inverse
            div.container-fluid
               div.navbar-header
                  button(type='button',data-toggle='collapse',data-target='#navbar',aria-expanded='false').navbar-toggle.collapsed
                     span.sr-only Toggle navigation
                     span.icon-bar
                     span.icon-bar
                     span.icon-bar
                  a(href='#').navbar-brand NoBlog
               div(id='navbar').collapse.navbar-collapse
                  form(role='search').navbar-form.navbar-left
                     div.form-group
                        input(type='text',placeholder='博主名').form-control
                        button(type='submit').btn.btn-default 找人
                  ul.nav.navbar-nav.navbar-right
                     li.dropdown
                        -if(!params.user)
                            a(href='/users/login',role='button') 登录
                        -else
                            a(href='#',data-toggle='dropdown',role='button',aria-haspopup='true',aria-expaned='false').dropdown-toggle #{params.user.name}
                               span.caret
                            ul.dropdown-menu
                               li
                                  a(href='/users/info') 个人资料
                               li
                                  a(href='/users/'+params.user._id+'/blog/write') 写博文
                               li
                                  a(href='/users/'+params.user._id+'/picture/upload') 上传相片
                               li(role='separator').divider
                               li
                                  a(href='/users/logout') 退出
         block content